@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto&display=swap');


.title > h1 {
	font-family: 'Great Vibes', cursive;
}

.title {
	position: absolute;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
    font-size: 50px;
    width: 100%;
    text-align: center;
}

h1,
p {
	color: #C00000;
}

p{
	font-family: 'Roboto', sans-serif;
	text-indent: 50px;
}

h1 {
	font-weight: 200;
}

body {
	margin: 0px;
}

.footer {
	text-align: right;
	font-size: 20px;
}

.container {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background-color: #FFDEE3;
}

.heart {
	position: relative;
	left: 50%;
	top: 45%;
	width: auto;
	transform: translateX(-50%);
	display: inline-block;
	z-index: 2;
}

.heart:hover {
	cursor: pointer;

}

.heart .shape-heart {
	transition: fill 0.25s ease-in;
}

.heart.active .shape-heart {
	fill: #C00000;
}

svg {
	display: block;
	width: 50px;
	height: 50px;
}

.clickme {
	position: relative;
	left: 54%;
	top: 43%;
	transform: scale(4);
	z-index: 1;
}

.message {
	margin: 0px 30px;
	text-align: justify;
	line-height: 35px;
	padding: 50px 70px;
	background-color: #FFBBC1;
	min-width: 400px;
	height: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-52%, -50%);
	z-index: 0;
	overflow: hidden;
	animation-name: openmsg;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-play-state: paused;
	animation-fill-mode: forwards;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	border-radius: 5px;
}

.heart > .heart_svg:hover {
	animation-name: beat;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-play-state: running;
}

@keyframes beat {
	0% {
		width: 50px;
	}
	25% {
		width: 58px;
	}
	30% {
		width: 50px;
	}
	50% {
		width: 45px;
	}
	60% {
		width: 50px;
	}
	75% {
		width: 58px;
	}
	100% {
		width: 50px;
	}
}

@keyframes openmsg {
	0% {
		height: 0px;
		padding: 0px 70px;
	}
	100% {
		height: 50%;
		padding: 50px 70px;
	}
}

@keyframes heartMove {
	0% {
		top: 45%
	}
	100% {
		top: 75%;
		/* transform: translate(-50%); */
	}
}

@keyframes removeClickMe {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes showClickMe {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.openedHer {
	top: 75%;
	transform: translate(-50%);
}

.removeClickMe {
	animation-name: removeClickMe;
	animation-duration: .5s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	animation-direction: normal;
}

.showClickMe {
	animation-name: showClickMe;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	animation-direction: normal;
}

.openNor {
	animation-direction: normal;
	animation-play-state: running;
}

.closeNor {
	animation-direction: reverse;
	animation-play-state: running;
}

.no-anim {
	animation: none;
}

.closed {
	height: 0px !important;
	padding: 0px 20px;
}

.bottom {
	bottom: 5px;
}

.openHer {
	animation-name: heartMove;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-play-state: running;
	animation-fill-mode: forwards;
}

.closeHer {
	animation-name: heartMove;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-play-state: running;
	animation-direction: reverse;
	animation-fill-mode: forwards;
}

.beating > svg {
	animation-name: beat;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-play-state: running;
}



/* hearts */
.x1 {
	left: 5%;
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	transform: scale(0.9);
	opacity: 0.6;
	-webkit-animation: moveclouds 15s linear infinite,
	  sideWays 4s ease-in-out infinite alternate;
	-moz-animation: moveclouds 15s linear infinite,
	  sideWays 4s ease-in-out infinite alternate;
  }
  
  .x2 {
	left: 25%;
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 0.9;
	-webkit-animation: moveclouds 25s linear infinite,
	  sideWays 5s ease-in-out infinite alternate;
	-moz-animation: moveclouds 25s linear infinite,
	  sideWays 5s ease-in-out infinite alternate;
  }
  .x3 {
	left: 55%;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.8;
	-webkit-animation: moveclouds 20s linear infinite,
	  sideWays 4s ease-in-out infinite alternate;
	-moz-animation: moveclouds 20s linear infinite,
	  sideWays 4s ease-in-out infinite alternate;
  }
  .x4 {
	left: 72%;
	-webkit-transform: scale(0.75);
	-moz-transform: scale(0.75);
	transform: scale(0.75);
	opacity: 0.9;
	-webkit-animation: moveclouds 18s linear infinite,
	  sideWays 2s ease-in-out infinite alternate;
	-moz-animation: moveclouds 18s linear infinite,
	  sideWays 0zs ease-in-out infinite alternate;
  }
  .x7 {
	left: 88%;
	-webkit-transform: scale(0.65);
	-moz-transform: scale(0.65);
	transform: scale(0.65);
	opacity: 0.8;
	-webkit-animation: moveclouds 7s linear infinite,
	  sideWays 1s ease-in-out infinite alternate;
	-moz-animation: moveclouds 7s linear infinite,
	  sideWays 1s ease-in-out infinite alternate;
  }

  .x8 {
	left: 23%;
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
	opacity: 0.7;
	-webkit-animation: moveclouds 7s linear infinite,
	  sideWays 1s ease-in-out infinite alternate;
	-moz-animation: moveclouds 7s linear infinite,
	  sideWays 1s ease-in-out infinite alternate;
  }

  .x9 {
	left: 15%;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	transform: scale(1);
	opacity: 0.6;
	-webkit-animation: moveclouds 7s linear infinite,
	  sideWays 1s ease-in-out infinite alternate;
	-moz-animation: moveclouds 7s linear infinite,
	  sideWays 1s ease-in-out infinite alternate;
  }

  .x5 {
	left: 69%;
	-webkit-transform: scale(0.95);
	-moz-transform: scale(0.95);
	transform: scale(0.95);
	opacity: 0.5;
	-webkit-animation: moveclouds 7s linear infinite,
	  sideWays 1s ease-in-out infinite alternate;
	-moz-animation: moveclouds 7s linear infinite,
	  sideWays 1s ease-in-out infinite alternate;
  }
  
  .x6 {
	left: 33%;
	opacity: 1;
	-webkit-animation: moveclouds 2s linear infinite,
	  swayWays 1s ease-in-out infinite alternate;
	animation: moveclouds 10s linear infinite,
	  swayWays 9s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes moveclouds {
	0% {
	  top: 500px;
	}
	100% {
	  top: -500px;
	}
  }
  
  @keyframes moveclouds {
	0% {
	  top: 500px;
	}
	100% {
	  top: -500px;
	}
  }
  
  @-webkit-keyframes sideWays {
	0% {
	  margin-left: 0px;
	}
	100% {
	  margin-left: 50px;
	}
  }
  
  @keyframes sideWays {
	0% {
	  margin-left: 0px;
	}
	100% {
	  margin-left: 50px;
	}
  }
  
  @-keyframes swayWays {
	0% {
	  transform: rotate(12deg);
	  left: -0.3%;
	}
	33% {
	  transform: rotate(-2deg);
	  left: 0.7%;
	}
	100% {
	  transform: rotate(0deg);
	  left: -12%;
	}
  }
  
  /* //  HEART CODE */
  .altheart {
	background: url(http://static.indigoimages.ca/2016/shop/113439_img25_twotoneheart.png)
	  no-repeat center;
	width: 24px;
	height: 21px;
	position: relative;
	display: block;
  }
  
  .hearts {
	position: relative;
  }
  .hearts:before,
  .hearts:after {
	position: absolute;
	content: "";
	left: 18px;
	top: 0;
	width: 18px;
	height: 30px;
	background: #cc2022;
	-moz-border-radius: 20px 50% 0 0;
	border-radius: 30px 30px 0 0;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: 0 100%;
	-ms-transform-origin: 0 100%;
	transform-origin: 0 100%;
  }
  .hearts:after {
	left: 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
  }
  

@media screen and (max-width: 1078px) {
	.clickme {
		left: 57%;
		top: 43%;
	}

	.title {
		font-size: 40px;
		width: 100vw;
		top: 15%;
	}

	.message {
		height: 80%;
		margin: 0 6px;
		padding: 0px 30px;
	}

	.openedHer {
		top: 85% !important;
		transform: translate(-50%, 0);
	}

	.heart {
		top: 45%;
	}

	@keyframes openmsg {
		0% {
			height: 0px;
		}

		100% {
			height: 80%;
		}
	}
	
	@keyframes heartMove {
		0% {
			top: 45%
		}
		100% {
			top: 85%;
			transform: translate(-50%, 0);
		}
	}
}


@media screen and (max-width: 600px) {
    .message {
        width: 90%; /* Aumenta el ancho del contenedor */
        padding: 20px; /* Reduce el padding para más espacio */
        font-size: 14px; /* Ajusta el tamaño de la fuente */
        line-height: 1.5; /* Mejora la legibilidad */
        margin: 0 auto; /* Centra el contenedor */
        height: auto; /* Ajusta la altura automáticamente */
        min-width: unset; /* Elimina el ancho mínimo fijo */
    }

    .clickme {
        left: 58%;
        top: 49%;
    }

    .heart {
        top: 50%;
    }

    .title {
        font-size: 35px;
    }
}
